<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace:放的是接口的全限定类名，也就是../*Mapper
-->
<mapper namespace="com.easybuy.dao.OrderDetailMapper">
    <insert id="add">
        insert
        into easybuy_order_detail(orderId,productId,quantity,cost)
        values(#{orderId},#{productId},#{quantity},#{cost})
    </insert>
    <select id="queryOrderDetailByOrderId" resultType="com.easybuy.entity.OrderDetail">
        SELECT * FROM `easybuy_order_detail` WHERE orderId = #{orderId}
    </select>
    <select id="queryAllOrderDetail" resultType="com.easybuy.entity.OrderDetail">
        SELECT * FROM `easybuy_order_detail`
    </select>

</mapper>