<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace:放的是接口的全限定列名，也就是../*Mapper
-->
<mapper namespace="com.easybuy.dao.ProductCategoryMapper">
    <insert id="add">
        INSERT into easybuy_product_category(name,parentId,type,iconClass) values(#{name},#{parentId},#{type},#{iconClass})
    </insert>
    <delete id="deleteProductCategoryById">
        DELETE FROM easybuy_product_category WHERE id = #{id}
    </delete>
    <select id="queryAllCategory" resultType="com.easybuy.entity.ProductCategory">
        SELECT * FROM easybuy_product_category
    </select>
    <select id="queryNameByType" resultType="com.easybuy.entity.ProductCategory">
        SELECT * FROM easybuy_product_category where `type` = #{type}
    </select>
    <select id="queryPageProCategory" resultType="com.easybuy.entity.ProductCategory">
        SELECT * FROM easybuy_product_category order by `type` limit #{from},#{pageSize}
    </select>
    <select id="queryTotalCounts" resultType="java.lang.Integer">
        SELECT count(1) FROM easybuy_product_category
    </select>
    <select id="queryParentName" resultType="java.lang.String">
        SELECT `name` FROM easybuy_product_category WHERE id = #{parentId}
    </select>
    <select id="queryType" resultType="com.easybuy.entity.ProductCategory">
        SELECT * FROM `easybuy_product_category` WHERE parentId = #{parentId}
    </select>
    <select id="queryTypeById" resultType="java.lang.Integer">
        SELECT type FROM easybuy_product_category WHERE id = #{id}
    </select>
    <select id="queryProductByCategoryId" resultType="com.easybuy.entity.Product">
        SELECT * FROM `easybuy_product` p,`easybuy_product_category` c WHERE p.categoryLevel3Id = #{id}
    </select>
    <select id="queryProductCategorylist" resultType="com.easybuy.entity.ProductCategory">
        SELECT epc1.*,epc2.name as parentName
        FROM easybuy_product_category epc1 LEFT JOIN easybuy_product_category epc2 ON epc1.parentId=epc2.id
        where 1=1
        <if test="name != null">
            and epc1.name like concat('%',#{name},'%')
        </if>
        <if test="parentId != null">
            and epc1.parentId = #{parentId}
        </if>
        <if test="type != null">
            and epc1.type = #{type}
        </if>
    </select>
</mapper>