<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace: 对应dao的全限定名(包名+接口名),也就是../*Mapper
-->
<mapper namespace="com.easybuy.dao.SecretMapper">
    <insert id="addSecret">
        INSERT INTO easybuy_secret(`loginName`, `password`)
        VALUES (#{loginName}, #{password})
    </insert>

    <select id="findPassword" resultType="java.lang.String">
        SELECT password FROM `easybuy_secret` WHERE loginName = #{loginName}
    </select>
</mapper>
